<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="posts">
    <div class="post-header text-center">
      <p>Rabin Gaire</p>
    </div>
    <div class="post-content text-center">
      <p>I am sad :(</p>
    </div>
    <div class="post-footer text-center">
      <input type="button" class="btn btn-default help-me" value="Let's Help"/>
    </div>
  </div>
</div>
<div class="col-md-3"></div>