.navbar-default {
  background-color: #8CD790;
  border: 1px solid #8CD790;
}

.navbar-default {
  .navbar-toggle:hover {
    background-color: transparent;
  }
}

.navbar-default .navbar-brand {
  color:#337ab7;
  font-family: 'Bree Serif', serif;
}


/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 120px;
  background-color: #285943;
  padding:10px 0 0 0;
  color:#FFF;
}


.post_box{
  background-color: white;
  border: 1px solid #edeeee;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 70px;

}

#heading{
  text-align: center;
  font-family: 'Indie Flower';
  font-weight: 600;
}

.nav_links {
  font-size: 20px;
  font-weight: 500;
  margin: 0 20px;
  font-family: 'Indie Flower', cursive;
}
.post_header,.post_body,.tools {
  padding:10px;
}
.comment {
  width:50%;
  margin:0 auto;
}